services:
  stingraytv-alice:
    build: .
    container_name: stingraytv-alice
    environment:
      JWK_KEY_URL: https://${TRAEFIK_HOST}/keycloak/realms/${KEYCLOAK_REALM:-stingray}/protocol/openid-connect/certs
    networks:
      - stingraytv-alice
    volumes:
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD-SHELL", "nc localhost 8080" ]
      timeout: 5s
      interval: 10s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stringraytv-alice.rule=Host(`${TRAEFIK_HOST}`) && PathPrefix(`/`)"
      - "traefik.http.routers.stringraytv-alice.entrypoints=websecure"
      - "traefik.http.routers.stringraytv-alice.tls.certresolver=myresolver"
      - "traefik.http.routers.stringraytv-alice.service=stringraytv-alice"
      - "traefik.http.services.stringraytv-alice.loadbalancer.server.port=8080"
      - "traefik.http.services.stringraytv-alice.loadbalancer.server.scheme=http"
    depends_on:
      - mdns_repeater

  keycloak:
    image: quay.io/keycloak/keycloak
    container_name: keycloak
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USERNAME:-admin}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
      KC_HEALTH_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
      KC_HTTP_ENABLED: true
      KC_HOSTNAME: https://${TRAEFIK_HOST}/keycloak
    healthcheck:
      test: [ "CMD-SHELL", "{ printf 'HEAD /keycloak/health/ready HTTP/1.0\r\n\r\n' >&0; grep 'HTTP/1.0 200'; } 0<>/dev/tcp/localhost/9000" ]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - keycloak:/opt/keycloak/data
    command: start --http-relative-path /keycloak
    networks:
      - stingraytv-alice
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`${TRAEFIK_HOST}`) && PathPrefix(`/keycloak`)"
      - "traefik.http.routers.keycloak.entrypoints=websecure"
      - "traefik.http.routers.keycloak.tls.certresolver=myresolver"
      - "traefik.http.routers.keycloak.service=keycloak"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
      - "traefik.http.services.keycloak.loadbalancer.server.scheme=http"

  mdns_repeater:
    image: jdbeeler/mdns-repeater:latest
    network_mode: host
    privileged: true
    environment:
      DOCKER_API_VERSION: 1.44
      USE_MDNS_REPEATER: 1
      DOCKER_NETWORK_NAME: stingraytv-alice
      EXTERNAL_INTERFACE: ${EXTERNAL_INTERFACE}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  traefik:
    image: traefik
    container_name: traefik
    command: |
      --providers.docker.exposedbydefault=false
      --providers.docker=true
      --entrypoints.web.address=:80
      --entrypoints.web.http.redirections.entryPoint.to=websecure
      --entrypoints.web.http.redirections.entryPoint.scheme=https
      --entrypoints.websecure.address=:443
      --certificatesresolvers.myresolver.acme.tlschallenge=true
      --certificatesresolvers.myresolver.acme.email=${TRAEFIK_EMAIL}
      --certificatesresolvers.myresolver.acme.storage=/acme/acme.json
    ports:
      - "443:443"
      - "80:80"
    networks:
      - stingraytv-alice
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - acme:/acme
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      keycloak:
        condition: service_healthy
      stingraytv-alice:
        condition: service_healthy

networks:
  stingraytv-alice:

volumes:
  keycloak:
    driver: local
  acme:
    driver: local