name: StingrayTV Alice build and publish

on:
  push:
    branches: [ "master" ]
    tags: [ 'b*', 's*' ]
  workflow_dispatch:

concurrency:
  group: "stingraytv-alice-build"
  cancel-in-progress: false

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Build with Gradle
        run: ./gradlew check
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5